{% extends "layouts/app.html" %} {% block title %}Pages{% endblock %} {% block
style %}
<style>
  #ul-show-headers-selected[data-popper-placement="bottom-start"] {
    transform: translate3d(-159.2px, 40px, 0px) !important;
  }
</style>
{% endblock %} {% block content %}
<div class="page-content" id="app">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0">Google Sheets</h4>
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Tables</a>
              </li>
              <li class="breadcrumb-item active">Sheet</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex flex-wrap gap-2 justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <h5 class="card-title mb-0 me-2">List Tasks</h5>
            </div>
            <div class="d-flex gap-2">
              <select
                id="choiceStatus"
                class="form-control"
                @change="filterData"
              >
                <option value="">Tất cả trạng thái</option>
              </select>

              <select
                id="choiceCompany"
                class="form-control"
                @change="filterData"
              >
                <option value="">Tất cả công ty</option>
              </select>

              <select id="choiceUser" class="form-control" @change="filterData">
                <option value="">Tất cả người phụ trách</option>
              </select>
              <div class="btn-group">
                <button
                  id="dropdownMenuClickableInside"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  aria-expanded="false"
                  class="btn btn-sm btn-primary position-relative dropdown-toggle"
                  style="height: 38px; width: 60px; transition: all linear 0.2s"
                  type="button"
                  title="Lọc headers"
                >
                  <i class="ri-edit-line"></i
                  ><span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                    >{{ countSelectHeader }}</span
                  >
                </button>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuClickableInside"
                  id="ul-show-headers-selected"
                >
                  <li v-for="(name, idx) in headers">
                    <label
                      :for="idx"
                      class="dropdown-item cursor-pointer d-flex align-items-center gap-3"
                      href="javascript:void(0);"
                    >
                      <input
                        v-model="modelSelectedHeader"
                        :value="name"
                        :id="idx"
                        type="checkbox"
                      />
                      {{ name }}
                    </label>
                  </li>
                </ul>
              </div>

              <!-- <select class="form-control" id="choiceSheetName" @change="handleSelectSheet">
                <option v-for="(name, key) in sheets" :value="name" :key="key">
                  {{ name }}
                </option>
              </select> -->

              <div class="btn-group">
                <button
                  class="btn btn-sm btn-success"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#sendTelegramModal"
                  title="Gửi tin nhắn"
                  @click="prepareSendTelegram"
                  style="height: 38px; width: 60px; transition: all linear 0.2s"
                >
                  <i class="ri-send-plane-fill"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div
              v-if="loading"
              class="d-flex justify-content-center align-items-center"
            >
              <div class="loading-spinner">
                <div
                  class="spinner-border text-primary spin"
                  role="status"
                ></div>
              </div>
            </div>
            <div v-else class="card-body">
              <table
                id="table-data-sheets"
                class="table table-bordered dt-responsive nowrap table-striped align-middle"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th
                      class="align-middle"
                      v-for="header in headerSelected"
                      :key="header"
                    >
                      {{ header }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="filteredData.length === 0">
                    <td
                      :colspan="headerSelected.length"
                      class="text-center text-muted py-3"
                    >
                      Không có công việc nào
                    </td>
                  </tr>
                  <tr
                    v-else
                    class="align-middle"
                    v-for="(row, index) in filteredData"
                    :key="index"
                  >
                    <td
                      v-for="header in headerSelected"
                      :key="header"
                      v-html="row[header]"
                    ></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="sendTelegramModal" tabindex="-1" aria-labelledby="sendTelegramModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sendTelegramModalLabel">
            Gửi tin nhắn Telegram
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div v-if="loadingTelegram.load" class="text-center py-1">
            <div class="loading-spinner">
              <div
                class="spinner-border spinner-border-sm text-primary spin"
                role="status"
              ></div>
            </div>
          </div>
          <div v-else-if="usersTelegram.length === 0" class="text-center py-1">
            <label
              class="dropdown-item cursor-pointer d-flex align-items-center gap-3"
            >
              <i class="fas fa-exclamation-circle text-danger"></i>
              Không có người dùng
            </label>
          </div>
          <div v-else>
              <div>
                  <div class="user-item" v-for="(item, idx) in usersTelegram" :key="idx">
                    <label :for="`user_tele_${item.chat_id}`"
                      class="dropdown-item cursor-pointer d-flex align-items-center gap-3">
                      <input v-model="modelSelectedUserTelegram" :value="item.chat_id"
                          :id="`user_tele_${item.chat_id}`" type="checkbox" />
                      {{ item.name }}
                  </label>
                  </div>
              </div>
              <div>
                  <textarea v-model="messageContent" class="form-control mt-2" rows="3"
                      placeholder="Nhập nội dung tin nhắn..."></textarea>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button
            v-if="loadingTelegram.submit"
            class="btn btn-primary"
            type="button"
            title="Gửi tin nhắn"
          >
            <div class="loading-spinner">
              <div
                class="spinner-border spinner-border-sm text-white spin"
                role="status"
              ></div>
            </div>
          </button>
          <button
            v-else
            class="btn btn-primary"
            type="button"
            title="Gửi tin nhắn"
            @click="sendMessage"
          >
            <i class="ri-send-plane-2-fill"></i> Gửi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="[[ url_for('static',filename='js/html2canvas.min.js') ]]"></script>
<script>
  const app = Vue.createApp({
    setup() {
      const sheets = Vue.ref([]);
      const headers = Vue.ref([]);
      const data = Vue.ref([]);
      const countSelectHeader = Vue.ref(0);
      const headerSelected = Vue.ref([]);
      const filteredData = Vue.ref([]);
      const loading = Vue.ref(false);
      const messageContent = Vue.ref("");

      const loadingTelegram = Vue.reactive({
        load: false,
        show: false,
        submit: false,
      });
      const usersTelegram = Vue.ref([]);
      const modelSelectedHeader = Vue.ref([]);
      const modelSelectedUserTelegram = Vue.ref([]);
      const defaultStatus = [
        "Ðã hoàn thành",
        "Chưa bắt đầu",
        "Đang thực hiện",
        "Tạm hoãn",
      ];

      const choices = Vue.reactive({
        sheet: null,
        company: null,
        user: null,
        status: null,
      });
      const notSheets = [
        "TK đăng nhập",
        "UserChatIds",
        "EmailMapping",
        "Timeline",
      ];
      let listHeaderCheck = [
        "CÔNG TY",
        "HẠNG MỤC",
        "VIỆC CẦN LÀM",
        "PHỤ TRÁCH",
        "HỖ TRỢ",
        "TRẠNG THÁI",
        "START",
        "DEADLINE",
        "THỜI GIAN HOÀN THÀNH",
        "THÀNH PHẨM",
      ];

      const loadSheets = async () => {
        try {
          loading.value = true;
          let res = await axios.get("/api/sheets");
          sheets.value = res.data.filter((item) => !notSheets.includes(item));
          Vue.nextTick(() => {
            choices.sheet = new Choices(
              document.getElementById("choiceSheetName"),
              { shouldSort: false }
            );
          });
        } catch (e) {
          console.error("Error loading sheets:", e);
        } finally {
          loading.value = false;
        }
      };

      const initEventSource = (sheetName) => {
        if (window.eventSource) {
          window.eventSource.close();
        }

        window.eventSource = new EventSource(`/stream/${sheetName}`);

        window.eventSource.onmessage = (event) => {
          const newData = JSON.parse(event.data);
          if (newData) {
            data.value = newData.data;
            headers.value = newData.headers;
          }
        };

        window.eventSource.onerror = (error) => {
          console.error("EventSource failed:", error);
          window.eventSource.close();
          setTimeout(() => initEventSource(sheetName), 5000);
        };
      };

      const selectSheet = async (sheetName) => {
        const storedHeaders = localStorage.getItem("headers");
        try {
          loading.value = true;
          const res = await axios.get(`/api/sheets/${sheetName}`);
          headers.value = res.data?.headers;
          if (storedHeaders && storedHeaders != "[]") {
            let newHeaders = JSON.parse(storedHeaders);
            headerSelected.value = Array.from(headers.value).filter((item) => {
              return newHeaders.includes(item.trim());
            });
          } else {
            let newHeaders = Array.from(headers.value).filter((item) => {
              return listHeaderCheck.includes(item.trim());
            });
            headerSelected.value = newHeaders;
          }
          modelSelectedHeader.value = headerSelected.value
          countSelectHeader.value = headerSelected.value.length;
          data.value = res.data?.data;
          filteredData.value = res.data?.data;
          let listStatus = res.data?.data.map((item) => {
            return item["TRẠNG THÁI"].trim();
          });
          let listCompanies = res.data?.data.map((item) => {
            return item["CÔNG TY"].trim();
          });
          let listUsers = res.data?.data.map((item) => {
            return item["PHỤ TRÁCH"].trim();
          });
          defaultStatus.forEach((item) => {
            if (!listStatus.includes(item)) {
              listStatus.push(item);
            }
          });
          listCompanies = Array.from(new Set(listCompanies));
          listStatus = Array.from(new Set(listStatus));
          listUsers = Array.from(new Set(listUsers));
          dt = listStatus.map((status) => ({ value: status, label: status }));
          dt.unshift({
            value: "",
            label: "Tất cả trạng thái",
          });
          choices.status.setChoices(dt, "value", "label", true);
          dt = listCompanies.map((company) => ({
            value: company,
            label: company,
          }));
          dt.unshift({
            value: "",
            label: "Tất cả công ty",
          });
          choices.company.setChoices(dt, "value", "label", true);
          dt = listUsers.map((user) => ({ value: user, label: user }));
          dt.unshift({
            value: "",
            label: "Tất cả nhân sự",
          });
          choices.user.setChoices(dt, "value", "label", true);

          // initEventSource(sheetName);
        } catch (e) {
          console.error("Error fetching sheet data:", e);
        } finally {
          loading.value = false;
        }
      };

      const handleSelectSheet = (event) => {
        const sheetName = event.target.value;
        selectSheet(sheetName);
      };

      function filterData() {
        let user = choices.user.getValue().value;
        let company = choices.company.getValue().value;
        let status = choices.status.getValue().value;
        filteredData.value = data.value.filter((item) => {
          return (
            (status ? item["TRẠNG THÁI"].trim() === status : true) &&
            (company ? item["CÔNG TY"].trim() === company : true) &&
            (user ? item["PHỤ TRÁCH"].trim() === user : true)
          );
        });
      }

      Vue.watch(modelSelectedHeader, (newValue) => {
        let newHeaderSelected = Array.from(newValue);
        localStorage.setItem("headers", JSON.stringify(newHeaderSelected));
        headerSelected.value = Array.from(headers.value).filter((item) => {
          return newHeaderSelected.includes(item.trim());
        });
        countSelectHeader.value = newHeaderSelected.length;
      });

      Vue.watch(modelSelectedUserTelegram, (newValue) => {
        if (newValue.length === 0) {
          loadingTelegram.show = false;
        } else {
          loadingTelegram.show = true;
        }
      });

      Vue.onMounted(async () => {
        choices.status = new Choices(document.getElementById("choiceStatus"), {
          shouldSort: false,
        });
        choices.company = new Choices(
          document.getElementById("choiceCompany"),
          { shouldSort: false }
        );
        choices.user = new Choices(document.getElementById("choiceUser"), {
          shouldSort: false,
        });
        // loadSheets();
        await selectSheet("Tasks");

      });

      const prepareSendTelegram = async () => {
        await loadListUsersTelegram();
        messageContent.value = "";
        modelSelectedUserTelegram.value = [];
      };


      async function loadListUsersTelegram() {
        loadingTelegram.load = true;
        try {
          let res = await axios.get("/api/telegrams/users");
          if (res.status == 200) {
            usersTelegram.value = res.data?.data;
          }
        } catch (e) {
          console.log(`Lỗi khi get user: ${e}`);
        }
        loadingTelegram.load = false;
      }

      const showToast = (message, type = "success") => {
        Toastify({
          text: message,
          duration: 3000,
          gravity: "top",
          position: "right",
          backgroundColor: type === "success" ? "#4caf50" : "#f44336",
          close: true,
          stopOnFocus: true,
        }).showToast();
      };

      async function sendMessage() {
        loadingTelegram.submit = true;
        try {
          const table = document.getElementById("table-data-sheets");
          const canvas = await html2canvas(table, {
            scale: 3,
            useCORS: true,
            backgroundColor: null,
          });
          const imageData = canvas.toDataURL("image/png");
          // Gửi ảnh lên backend
          const res = await axios.post("/api/telegrams/send-table", {
            image: imageData,
            users: modelSelectedUserTelegram.value,
            content: messageContent.value,
          });

          if (res.status === 200 && res.data.success) {
            showToast(res.data.message || "Ảnh đã gửi thành công!", "success");
            modelSelectedUserTelegram.value = [];
          } else {
            showToast(res.data.error || "Có lỗi xảy ra khi gửi ảnh!", "error");
          }
          const modalElement = document.getElementById("sendTelegramModal");
          const modalInstance = bootstrap.Modal.getInstance(modalElement);
          modalInstance.hide();
        } catch (e) {
          showToast(`Lỗi khi gửi ảnh: ${e.message || e}`, "error");
        }
        loadingTelegram.submit = false;
      }

      return {
        sheets,
        headers,
        data,
        filteredData,
        loading,
        modelSelectedHeader,
        headerSelected,
        filterData,
        countSelectHeader,
        messageContent,
        sendMessage,
        choices,
        prepareSendTelegram,
        usersTelegram,
        modelSelectedUserTelegram,
        loadingTelegram,
      };
    },
  });

  app.mount("#app");
</script>
{% endblock %}
