# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env
venv/
env/

# Database
*.db
*.sqlite3

# Credentials
credentials.json

# Logs
logs/*
!logs/.gitkeep

# IDE
.vscode/
.idea/

# Static files
# static/libs/
node_modules/