{% extends "layouts/app.html" %} {% block title %}Danh sách nhân sự{% endblock
%} {% block style %}
{% endblock %} {% block content %}
<div class="page-content" id="app">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0">Nhân sự</h4>
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#createSheetModal"
          >
            Thêm nhân sự
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">Danh sách nhân sự</h5>
          </div>
          <div class="card-body">
            <div
              v-if="loading"
              class="d-flex justify-content-center align-items-center"
            >
              <div class="loading-spinner">
                <div
                  class="spinner-border text-primary spin"
                  role="status"
                ></div>
              </div>
            </div>
            <div v-else class="table-wrapper">
              <table class="table custom-table">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Tài khoản</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in users" :key="index">
                    <td>{{ ++index }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                      <span
                        :class="[
                            'badge fs-12 d-inline-flex align-items-center', 
                            item.role == 1 
                              ? 'bg-success-subtle text-success' 
                              : 'bg-primary-subtle text-primary'
                          ]"
                      >
                        {{ item.status == 1 ? 'Hoạt động' : 'Bị khoá' }}
                      </span>
                    </td>
                    <td class="d-flex gap-2">
                      <button
                        @click="confirmEdit(item.id)"
                        class="btn btn-sm btn-outline-primary"
                        title="Chỉnh sửa"
                      >
                        <i class="ri-edit-line"></i>
                      </button>
                      <button
                        @click="confirmDelete(item.id)"
                        class="btn btn-sm btn-outline-danger"
                      >
                        <i class="ri-delete-bin-line"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Chỉnh sửa -->
  <div
    class="modal fade"
    id="editSheetModal"
    tabindex="-1"
    aria-labelledby="editSheetModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editSheetModalLabel">
            Chỉnh sửa nhân sự
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form @submit.prevent="submitEdit">
            <div class="row g-3">
              <div class="col-xxl-12">
                <label for="editName" class="form-label">Tên nhân sự</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="edit.name"
                  placeholder="Tên nhân sự"
                />
              </div>
              <div class="col-sm-6">
                <label for="editName" class="form-label">Tên nhân sự</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="edit.email"
                  placeholder="Tài khoản"
                />
              </div>
              <div class="col-sm-6">
                <label for="editRole" class="form-label">Chọn vai trò</label>
                <select class="form-control" v-model="edit.status" id="editRole">
                  <option value="true">Hoạt động</option>
                  <option value="false">Khoá</option>
                </select>
              </div>
              <div class="col-lg-12">
                <div class="hstack gap-2 justify-content-end">
                  <button
                    type="button"
                    class="btn btn-light"
                    data-bs-dismiss="modal"
                  >
                    Đóng
                  </button>
                  <button
                    type="submit"
                    :disabled="isLoading"
                    class="btn btn-primary"
                  >
                    <span v-if="isLoading">
                      <span
                        class="spinner-border spinner-border-sm loading-sm"
                      ></span>
                    </span>
                    Cập nhật
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận xóa</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">Bạn có chắc chắn muốn xóa không?</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Hủy
          </button>
          <button
            type="button"
            class="btn btn-danger"
            @click="deleteItem"
            :disabled="isLoading"
          >
            <span
              v-if="isLoading"
              class="spinner-border spinner-border-sm me-1"
            ></span>
            Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="createSheetModal"
    tabindex="-1"
    aria-labelledby="exampleModalgridLabel"
    aria-modal="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalgridLabel">
            Thêm mới nhân sự
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form @submit.prevent="submitCreate()">
            <div class="row g-3">
              <div class="col-xxl-12">
                <div>
                  <label for="firstName" class="form-label">Tên nhân sự</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="create.name"
                    placeholder="Tên nhân sự"
                  />
                </div>
              </div>
              <!--end col-->
              <div class="col-sm-6">
                <div>
                  <label for="lastName" class="form-label"
                    >Tài khoản</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    v-model="create.email"
                    placeholder="Tài khoản"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  <label for="lastName" class="form-label"
                    >Mật khẩu</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    v-model="create.password"
                    placeholder="Mật khẩu"
                  />
                </div>
              </div>
              
              <div class="col-lg-12">
                <div class="hstack gap-2 justify-content-end">
                  <button
                    type="button"
                    class="btn btn-light"
                    data-bs-dismiss="modal"
                  >
                    Đóng
                  </button>
                  <button
                    type="submit"
                    :disabled="isLoading"
                    class="btn btn-primary"
                  >
                    <span v-if="isLoading">
                      <span
                        class="spinner-border spinner-border-sm loading-sm"
                      ></span>
                    </span>
                    Thêm ngay
                  </button>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  const app = Vue.createApp({
    setup() {
      const deleteId = Vue.ref(null);
      const deleteModal = Vue.ref(null);
      const users = Vue.ref([]);
      const edit = Vue.ref({
        id: "",
        name: "",
        email: "",
        status: "",
      });

      const create = Vue.ref({
        name: "",
        email: "",
        password: "",
        role: "user",
      });
      const loading = Vue.ref(false);
      const isLoading = Vue.ref(false);


      function confirmEdit(id) {
        const user = users.value.find((user) => user.id === id);
        if (user) {
          edit.value = { ...user };
          const modalElement = document.getElementById("editSheetModal");
          const modalInstance = new bootstrap.Modal(modalElement);
          modalInstance.show();
        }
      }

      async function submitEdit() {
        edit.value.name = edit.value.name.trim();
        edit.value.email = edit.value.email.trim();

        if (!edit.value.name || !edit.value.email || !edit.value.status) {
          showToast("Vui lòng nhập đủ thông tin!", "error");
          return;
        }

      try {
        isLoading.value = true;
        const response = await axios.put(`/api/users/${edit.value.id}`, edit.value);

        if (response.data.success) {
          showToast("Cập nhật thành công!");
          loadUsers();
          const modalElement = document.getElementById("editSheetModal");
          const modalInstance = bootstrap.Modal.getInstance(modalElement);
          modalInstance.hide();
        } else {
          throw new Error(response.data.error || "Lỗi khi cập nhật");
        }
      } catch (error) {
        console.error("Edit error:", error);
        showToast(error.response?.data?.error || "Có lỗi xảy ra khi chỉnh sửa!", "error");
      } finally {
        isLoading.value = false;
      }
    }



      function confirmDelete(id) {
        deleteId.value = id;
        deleteModal.value = new bootstrap.Modal(
          document.getElementById("deleteModal")
        );
        deleteModal.value.show();
      }
      async function deleteItem() {
        if (!deleteId.value) return;

        try {
          isLoading.value = true;
          const response = await axios.delete(
            `/api/users/${deleteId.value}`
          );

          if (response.data.success) {
            showToast("Xóa thành công!");
            loadUsers();
            deleteModal.value.hide();
          } else {
            throw new Error(response.data.error || "Lỗi khi xóa");
          }
        } catch (error) {
          console.error("Delete error:", error);
          showToast(
            error.response?.data?.error || "Có lỗi xảy ra khi xóa!",
            "error"
          );
        } finally {
          isLoading.value = false;
          deleteId.value = null;
        }
      }

      function showToast(message, type = "success") {
        Toastify({
          text: message,
          duration: 3000,
          close: true,
          gravity: "top", // Vị trí hiển thị
          position: "right",
          backgroundColor: type === "success" ? "green" : "red",
        }).showToast();
      }

      const loadUsers = async () => {
        try {
          loading.value = true;
          const res = await axios.get("/api/users");
          if (res.data?.success) {
            users.value = res.data?.data;
          }
        } catch (e) {
          console.error("Error loading watch list:", e);
        } finally {
          loading.value = false;
        }
      };

      function formatDate(date) {
        return moment(date).fromNow();
      }

      Vue.onMounted(() => {
        loadUsers();
      });

      async function submitCreate() {
        create.value.name = create.value.name.trim();
        create.value.email = create.value.email.trim();
        create.value.password = create.value.password.trim();

        if (!create.value.name || !create.value.email || !create.value.password) {
          showToast("Vui lòng nhập đủ thông tin!", "error");
          return;
        }
        try {
          isLoading.value = true;
          const response = await axios.post(
            "/api/users",
            create.value
          );

          if (response.data.success) {
            showToast("Thêm nhân sự thành công!");
            loadUsers();
            create.value = { name: "", email: "", password: "", role: "user" };
            const modalElement = document.getElementById("createSheetModal");
            const modalInstance = bootstrap.Modal.getInstance(modalElement);
            modalInstance.hide();
          } else {
            throw new Error(response.data.error || "Unknown error");
          }
        } catch (error) {
          console.error("Lỗi khi thêm nhân sự:", error);
          showToast(
            error.response?.data?.error || "Có lỗi xảy ra khi thêm nhân sự!",
            "error"
          );
        } finally {
          isLoading.value = false;
        }
      }

      return {
        users,
        loading,
        create,
        edit,
        confirmEdit,
        submitEdit,
        isLoading,
        submitCreate,
        confirmDelete,
        deleteItem,
        formatDate,
      };
    },
  });

  app.mount("#app");
</script>
{% endblock %}
